@font-face{
    src:url(../fonts/Montserrat/Montserrat-BoldItalic.ttf);
    font-family: group-logo-font;
}

@font-face{
    src:url(../fonts/Alata/Alata-Regular.ttf);
    font-family: header-tab-font;
}

@font-face{
    src:url(../fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
    font-family: banner-font;
}

@font-face{
    src:url(../fonts/Calligraffitti/Calligraffitti-Regular.ttf);
    font-family: page-title-font;
}

@font-face{
    src:url(../fonts/Gabriela/Gabriela-Regular.ttf);
    font-family: announcement-font;
}

@font-face{
    src:url(../fonts/Alice/Alice-Regular.ttf);
    font-family: posted-date-font;
}

@font-face{
    src:url(../fonts/IBM_Plex_Serif/IBMPlexSerif-Regular.ttf);
    font-family: paragraph-font;
}

#content-desktop {display: block;}
#content-mobile {display: none;}

@media screen and (max-width: 1023px){
    #content-desktop {display: none;}
    #content-mobile {display: block;}
    .site-title a{
        font-size: 120px;
    }
}


body {
    margin: auto;
}

.banner-container{
    height:100vh;
    display: flex;
    flex-direction: column;
    object-fit: fill;
    background-size: cover;
    background-position: center;
    text-align: center;

}

.banner-container > div{
    flex:45%;
}

.main-banner{
    background-image: url(../images/Mt-Garibaldi-TravelSages-Truck-Camping.jpg);
    
}

.sections-banner{
    background-image: url(../images/elfin-lakes.jpg);
}

.schedule-banner{
    background-image: url(../images/calendar.jpg);
}

.outings-banner{
    background-image: url(../images/black-tusk.jpg);
}

.uniform-banner{
    background-image: url(../images/wedgemount-lake.jpeg);
}

.equipment-lists-banner{
    background-image: url(../images/outdoor-gear.jpg);
}

.registration-banner{
    background-image: url(../images/golden-ears.jpg);
}

.contacts-banner{
    background-image: url(../images/phone.jpg);
}

.about-banner{
    background-image: url(../images/cypress.jpg);
}

.main-header{
    max-width: 1024px;
    margin: auto;
    display:flex;
    justify-content: space-between;
    position: relative;
}

.black-background{
    background: black;
    margin:auto;
    padding:0;
    background-position: center;
    text-align: center;
}

.site-title{
    padding: 25px 2.5%;
}

.site-title a{
    margin:0;
    color: white;
    font-family: group-logo-font, Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: x-large;
}

@media screen and (max-width: 1023px){
    .site-title a{
        font-size: 25px;
    }
}

.main-header-dropdown {
    position: relative;
    display: inline-block;
    box-sizing:border-box;
}

.dropbtn {
    box-sizing:border-box;
    font-family: header-tab-font, Arial, Helvetica, sans-serif;
    background-color: rgba(0,0,0,0);
    padding: 26px 32px;
    border: none;
    cursor: pointer;
}

.not-link{
    color: #4de040;
    font-size: 16px;
    cursor: default;
    pointer-events: none;
}

.is-link{
    text-decoration: none;
    color:white;
    font-size: 16px;
}

  
.dropdown-content {
    display: none;
    position: absolute;
    
    right: 0;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

    
    font-family: header-tab-font, Arial, Helvetica, sans-serif;

}


.dropdown-content a {
    display: none;
    color:white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    white-space: nowrap;
}
  
.main-header-dropdown-content a:hover {background-color: #f1f1f1;}
.main-header-dropdown:hover .dropdown-content {display: block;}
.main-header-dropdown:hover .dropbtn {background-color: rgb(0, 6, 31)}

.dropdown-button{color: white}
.dropdown-button:hover{background-color: rgba(0,0,0,1.0);}

.header-menu{
    max-height:30px;
    width: auto;
    padding:18px;
    background: transparent;
    border:transparent;
    color:white;
    font-size: xx-large;
}

.join-region{
    flex:55%;
    text-align: center;  
}

.join-heading{
    color:white;
    margin: 0 0 25px 0;
    font-family: banner-font, Arial, Helvetica, sans-serif;
    
}

@media screen and (max-width: 1023px){
    .join-heading{
        font-size: 40px;
    }
}

.join-button{
    background-color: rgba(77,224,64, 0.9);
    border-color: transparent;
    border-radius: 5px;
    color: white;
    margin: 80px 0;
    padding: 8px 26px;
    
    font-family: banner-font, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 1000;
    text-decoration: none;
}

.join-button:hover{
    background-color: rgba(77,224,64, 0.5);
}

.page-title{
    font-family: page-title-font, Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 30px 0 20px 0;
    text-align: center;
    
}

.announcement-odd{
    padding: 1em 0 1em 0;
}

.announcement-even{
    padding: 1em 0 1em 0;
    background-color: #d6d6d6;
}

.announcement-title{
    text-align: center;
    margin:auto;
    
    font-family: announcement-font, Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.extra-vertical-padding{
    padding: 20px 0;
}
.announcement-date{
    text-align: center;
    margin:auto;
    padding:7px;
    font-family: posted-date-font, Arial, Helvetica, sans-serif;
}

.announcement-content{
    max-width: 1024px;
    margin:auto;
    display: flex;
    align-content: flex-end;
}

.column-flex{
    flex-direction: column;
}

.display-column-flex{
    display:flex;
    flex-direction: column;
}

.top-announcement-separator{
    flex:2;
}

.announcement-message{
    flex:8;
    font-size: 20px;
    margin:0 50px;
    font-family: paragraph-font, Arial, Helvetica, sans-serif;
}

.announcement-image-side{
    flex:8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.bot-announcement-separator{
    flex:3;
}


.announcement-image{
    object-fit: scale-down;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    padding: 20px 0;
    vertical-align: middle
}

.announcement-image-medium{
    object-fit: scale-down;
    background-size: cover;
    background-position: center;
    max-width: 70%;
    padding: 20px 0;
    vertical-align: middle
}

#hubba-img{
    height: 8em;
    padding:2em 0 0 0 ;
}



.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.announcement-button{
    text-align: center;
    background-color: rgba(0, 0, 0, 1.0);
    border-color: transparent;
    border-radius: 5px;
    color: white;
    padding: 12px;
    margin: 20px 0;
    font-family: banner-font, Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 1000;
}

.announcement-button:hover{
    background-color: rgba(0,0,0, 0.7);
}

footer{
    background-color: #23272a;
}

.footer-container{
    max-width: 1024px;
    text-align: center;
    display: flex;
    margin: auto;
}

@media screen and (max-width: 1023px){
    .footer-container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}



.footer-container > img{
    flex:1;
    max-width: 300px;
    height:auto;
    object-fit: cover;
    margin:20px;
}

.footer-container h1{
    text-align:  center;
    font-family: group-logo-font, Arial, Helvetica, sans-serif;
}

.footer-container table{
    flex:1;
    margin:auto;
    text-align:  center;
    font-family: paragraph-font, Arial, Helvetica, sans-serif;
}

.footer-container table td{
    padding: 8px;
}

.footer-container > div{
    flex:3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
}


.footer-header{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    flex:2;
    margin:0;
}

.footer-links{
    display: flex;
    margin-bottom: 15px;
}

.footer-links a{
    text-align: left;
    padding:0 4vw 20px 0;
    white-space: nowrap;
    text-decoration: none;
    flex:1;
}

@media screen and (max-width: 1023px){
    .footer-header h1{
        font-size: 40px;
    }
    .footer-links a{
        padding:0 12.0vw 20px 10.0vw;
    }
}

@media screen and (max-width: 670px){
    .footer-header h1{
        font-size: 30px;
    }
    .footer-links a{
        padding:0 8.0vw 20px 8.0vw;
    }
}

@media screen and (max-width: 400px){
    .footer-header h1{
        font-size: 24px;
    }
    .footer-links a{
        padding:0 0.4vw 20px 0;
    }
}

.footer-links ul{
    flex:1;
    display:flex;
    flex-direction: column;
    align-items: left;
    list-style-type: none;
    font-family: header-tab-font, Arial, Helvetica, sans-serif;
    font-size: large;
    margin:0;
    padding: 0 20px;
}

.email-link{
    text-align: center;
    color:white;
    font-family: header-tab-font, Arial, Helvetica, sans-serif;
    text-align: center;
}

.menu-sidebar{
    width: 0;
    position: fixed;
    z-index: 1;
    height:100vh;
    top: 0;
    right: 0;
    background-color: #191919;
    transition: 0.314s ease-in-out;
    border-radius: 12px 0 0 12px;
    overflow: hidden;
    white-space: nowrap;
}

.menu-sidebar a {
    padding: 8px 0;
    text-decoration: none;
    font-size: 18px;
    font-family: header-tab-font, Arial, Helvetica, sans-serif;
    display: block;
    
}
  
.menu-sidebar a:hover {
    background-color: rgba(0,0,0,1.0);
}

.menu-sidebar .site-sidebar{
    left: 20px;
    top: 50px;
    font-size: 20px;
    color: white;
    font-family: group-logo-font, Arial, Helvetica, sans-serif;
    padding: 90px 0 50px;
    max-height: 24px;
}

.menu-sidebar .close-menu {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 20px 35px;
    font-size: 20px;
    color: white;
}

.header-menu {
    font-size: 40px;
    cursor: pointer;
    background: transparent;
    color: white;
    padding: 10px 18px;
    border: none;
}

.calendar-container{
    text-align: center;
}

.calendar-container iframe{
    width:100vw;
    height:85vh;
    max-width: 1024px;
    margin:2.5vh 0;
}

.pdf-embed{
    width:100vw;
    height:95vh;
}

.no-marker{
    list-style-type:none;
}

.no-indent{
    padding-left: 0;
}

.no-underline{
    text-decoration: none;
    text-decoration-style: none;
    text-decoration-color: transparent;
}

.small-max-height{
    max-height: 150px;
}

.bold{
    font-weight: bold;
}

.center-text{
    text-align: center;
}

.center-list{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.collapsible-button{
    color: #4de040;
    border: none;
    outline: none;
    font-size: 15px;
}

.collapsed-content{
    display: none;
    overflow: hidden;
    background-color: #252525;
}

.no-bottom-margin{
    margin-bottom: 0;
}

.no-padding{
    padding:0;
}

.cub-background{
    margin:0;
    padding: 25px 0;
    background-color: #FFCC00;
}

.scout-background{
    margin:0;
    padding: 25px 0;
    background-color: #4de040;
}